.ItemDetailWrapper{
    display: flex;
    margin: 2rem;
    padding: 0 auto;
    max-width: 1000px;
    height: calc(100vh - 8rem);
    flex-wrap: wrap;
    justify-content: center;
    border: solid 1px var(--gray);
    border-radius: 1rem;
}