.ItemCard{
    text-align: center;
    border-radius: 1rem;
    border: solid 1px lightgray;
    overflow: hidden;
}

.ItemCard h3{
    margin-top: .5rem
}

.ItemCard img{
    padding: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    object-fit: cover;
    width: 100%;
    transform-origin: top;
    transition: transform .5s
}

.ItemCard:hover img{
    transform: translateX(-50%) scale(1.2);
    transform-origin: top;
}

.ItemCard__imgWrapper{
    aspect-ratio: 1;
    height: auto;
    overflow: hidden;
    position: relative;
}

.ItemCard__roundBox{
    aspect-ratio: 1;
    height: auto;
    width: 160%;
    position: absolute;
    background-color: var(--gray);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -60%;
    overflow: hidden;
    border-bottom: solid 1px lightgray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    box-shadow: 1rem 0px var(--red);
}

.ItemCard__bodyWrapper{
    position: absolute;
}

.ItemCard__inputs{
    display: flex;
    overflow: hidden;
    border-radius: 0 0 .5rem .5rem;
    justify-content: space-around;
}

.ItemCard__inputs--buy{
    background: yellow;
    height: 35px;
    width: 100%;
}

.ItemCard__seeMoreButton{
    color: var(--red);
}