.ItemCard{
    text-align: center;
    border-radius: 1rem;
    border: solid 2px lightgray;
    overflow: hidden;
}

.ItemCard h3{
    margin-top: .5rem
}

.ItemCard img{
    padding: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    object-fit: cover;
    width: 100%;
    transform-origin: top;
    transition: transform .5s
}

.ItemCard:hover img{
    transform: translateX(-50%) scale(1.1);
    transform-origin: top;
}

.ItemCard__imgWrapper{
    aspect-ratio: 1;
    height: auto;
    overflow: hidden;
    position: relative;
}

.ItemCard__roundBox{
    aspect-ratio: 1;
    height: auto;
    width: 160%;
    position: absolute;
    background-color: var(--gray);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -60%;
    overflow: hidden;
    border-bottom: solid 1px lightgray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    box-shadow: 1rem 0px var(--red);
}

.ItemCard__priceBox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


.ItemCard__bodyWrapper h4{
    display: inline-block;
    margin-left: 1.5rem
}


.ItemCard__seeMoreButton{
    color: var(--red);
}

.ItemCard__priceBox a{
    margin: .5rem
}