.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--gray);
    height: 4rem;
}

.NavbarBrand a img{
    max-height: 4rem;
    margin: 0 .2rem;
}

.NavbarBrand a{
    display: flex;
    align-items: center;
    color: var(--dark);
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.75rem;
    font-weight: 700;
}

.NavbarLink{
    padding:.3rem;
    text-decoration: none;
    color: var(--dark);
}

.NavbarLink:hover{
    text-decoration: underline .15rem var(--red);;
}

.NavbarNav{
    display: flex;
    align-items: center;
}

.NavbarNav > *{
    margin-right: .7rem;
}
