@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --red: #CB1F5A;
  --dark: #21303B;
  --blue: #36cACC;
  --gray: #D3CACE;
  --darkblue: #327987;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}