.ItemCounter__input{
    width: 2rem;
    text-align: center;
    background: transparent;
    border: none;
    -moz-appearance: textfield;
    color: white;
    font-weight: 600;
    height: 100%;
}

.ItemCounter{
    background: var(--blue);
    display: inline-flex;
    width: max-content;
    align-items: center;
    height: max-content;
    border-radius: .3rem;
    overflow: hidden;
    margin: 0 1rem 1rem 0;
}

.ItemCounter__input::-webkit-outer-spin-button,
.ItemCounter__input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0
}

.ItemCounter button{
    width: 2.5rem;
    background: transparent;
    border:none;
    color: white;
    font-size: 1.5rem;
    vertical-align: middle
}

.ItemCounter button:hover{
    background: var(--darkblue);    
    cursor: pointer;
}

.ItemCounter__error{
    color: var(--red)
}

.ItemCounter__cartButton{
    padding: 0 1rem;
    background: var(--blue);
    border:none;
    color: white;
    border-radius: .3rem;
    font-size: 1.5rem;
}

.ItemCounter__cartButton:hover{
    background: var(--darkblue);    
    cursor: pointer;
}